<div class="filter_form_field filter_string select_and_search">
  <form class="well form-search">
    <select class="form-control" style="width: 200px;">
      <option>すべてのカテゴリー</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <input type="text" class="input-medium search-query" style="width: 300px;
margin-left: 10px;
margin-right: 10px;">
    <button type="submit" class="btn"> 検 索 </button>
  </form>
</div>
<div id="keyword">
  <h2 style="padding: 15px 10px;
  margin-top: 20px;
  background: -webkit-linear-gradient(-90deg, #efefef, #dfe1e2);">化物語</h2>
</div>
<div id="sort">
  <p>検索結果4315件中1件から10件までを表示</p>
</div>
<div class="list">
  <div class="row">
      <img src="../assets/test.png" style="width:100%;">
  </div>
  <div class="row">
      <img src="../assets/test.png" style="width:100%;">
  </div>
  <div class="row">
      <img src="../assets/test.png" style="width:100%;">
  </div>
  <div class="row">
      <img src="../assets/test.png" style="width:100%;">
  </div>
  <div class="row">
      <img src="../assets/test.png" style="width:100%;">
  </div>
  <div class="row">
      <img src="../assets/test.png" style="width:100%;">
  </div>
</div>
